<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        {%if request.user.role == user.role%}
        <button type="button" class="btn btn-outline-primary">Ajouter</button>
        {%endif%}
        <div class="row my-4">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                  {% block content %}
               
      

   



                {% endblock %}
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- add shortcuts include in here-->
</main>
