<div class="container-fluid mt-2">
    <div class="row    flex-row">
 		<div class="arrow-steps clearfix">



				  <div class="step" id="1"> <span> Etape 1</span> </div>
				  <div class="step" id="2"> <span>Etape 2 </span> </div>
				  <div class="step" id="3"> <span> Etape 3</span> </div>
				  <div class="step" id="4"> <span>Etape 4</span> </div>
				  <div class="step" id="5"> <span>Etape 5</span> </div>
				  <div class="step" id="6"> <span>Terminee</span> </div>

		</div>
	
			
	</div>
	
</div>


