{% extends 'main.html'%}

 {%block content%}


{% if page == 'login' %}
   <form method="POST" action="">
    {% csrf_token %}


    <label>email: </label>
    <input type="email" name="email" placeholder="Enter Email" />
    <!-- {% if messages %}
     <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
     </ul>
    {% endif %} -->

    <select id="user_roles" name="user_roles">
      <option value="responsable informatique" name="user_roles">responsable_informatique</option>
      <option value="chargee affaire" name="user_roles"> chargee_affaire</option>
      <option value="responsable logistique1" name="user_roles">responsable logistique1</option>
      <option value="responsable financier" name="user_roles">responsable_financier</option>
      <option value="responsable logistique2" name="user_roles">responsable_logistique2</option>
    </select>
      
         
  

    <label>password: </label>
    <input type="password" name="password" placeholder="Enter Password" /> 


    <input type="submit" value="Login" />
  </form>
  <p>havent signed up yet ?</p>
</div>
{% else %}
<div>
    <form method="post" action="">
      {% csrf_token %}
        {{form.as_p}}
      <input type="submit" value="Register" />
    </form>
    <p>Already signed up ?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{%endblock content%}
