{% extends 'main.html'%}

{%block content%}

<div class="layout__body">
<form class="form" action="" method="POST">
    {%csrf_token%}
    {%for field in login_form%}
    <div class="form__group">
        {{field.label_tag}}
        {{field}}

        {% if field.help_text%}
        <small style="color: gray;">{{field.help_text}}</small>
        {%endif%}

        {% for error in field.errors%}
        <p style="color: red;">{{field.error}}</p>
        {%endfor%}

        {%if login_form.non_field_errors%}
        <div style="color: red;">
            <p>{{login_form.non_field_errors}}</p>

        </div>
        {%endif%}
        {{request.user.email}}


    </div>

    {%endfor%}

    <button class="btn btn--main" type="submit">Login</button>

</form>

</div>

{%endblock content%}
