{%extends 'main.html'%} 
{% load crispy_forms_tags %}

{%block content%} 

{%include 'navbar.html'%} 
{%include 'sidebar.html'%}

<body class="vertical dark">
    <main role="main" class="main-content">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="wrapper">
          <div class="row my-4">
            <div class="col-md-12">
              <div class="card shadow">
                <div class="card-body">
                  <form class="col-lg-6 col-md-8 col-10 mx-auto"  method="POST" >
                    {% csrf_token %}
                   
                    
                    <div class="">
                        {{Infform|crispy}}
                      </div>
                    

 
                  
                    <button
                      class="btn btn-lg btn-primary btn-block"
                      type="submit"
                      name="btn_submit"
                    >
                      Valider
                    </button>
                    <button
                    class="btn btn-lg btn-primary btn-block"
                    type=""
                  >
                    Enregister
                  </button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </main>
    {%include 'notification.html'%}

</body>
{%endblock content%}
